# This file can be used change api url and api key in tests. Useful when you want to use real networking for test case.
# Follow these steps if you want to use real networking for your test case:
# - Replace credentials below with your own.
# - Use `php-http/curl-client` as an argument for `TestClientFactory::createClient`.
API_URL=https://test.retailcrm.pro/
API_KEY=testkey
