extensions:
	- php

source:
	- lib

exclude:
	- tests/
	- vendor/
	- bin/
	- docs/

charset:
	- auto
	- UTF-8
	- Windows-1251

title: retailCRM PHP API client
templateTheme: bootstrap
groups: auto

accessLevels:
	- public
	- protected

internal: true
php: false
tree: true
deprecated: true
todo: true
destination: ../api-client-php.pages/
download: false
