<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    verbose="true"
    processIsolation="false"
    stopOnFailure="false">

    <!-- Dummy values used to provide credentials. No need to change these. -->
    <php>
        <server name="CRM_URL" value="https://demo.retailcrm.ru" />
        <server name="CRM_API_KEY" value="nSBFWecViONG5c96wUQQgZzHkilTnaa6" />
        <server name="CRM_USER_ID" value="1" />
    </php>

    <testsuites>
        <testsuite name="RetailCrm">
            <directory>tests/RetailCrm/Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/RetailCrm</directory>
        </whitelist>
    </filter>
</phpunit>
